# Default ignored files
/../../Proj.-pedra-papel-tes./.idea/shelf/
/../../Proj.-pedra-papel-tes./.idea/workspace.xml
# Editor-based HTTP Client requests
/../../Proj.-pedra-papel-tes./.idea/httpRequests/
# Datasource local storage ignored files
/../../Proj.-pedra-papel-tes./.idea/dataSources/
/../../Proj.-pedra-papel-tes./.idea/dataSources.local.xml
